<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="productname"            value="Farrier"/>
  <variable name="company"                value="PnP"/>
  <variable name="copyright"              value="Contributors: Chris Kent"/>
  <variable name="line-seperator"         value="${newline}#######################################################" />
  <variable name="line-empty"             value="${newline}#  ${pad:padding=-50:inner=} #" />
  <variable name="line-product"           value="${newline}#  ${pad:padding=-50:inner=${productname} v${assembly-version} by ${company}} #" />
  <variable name="line-copyright"         value="${newline}#    ${pad:padding=-48:inner=${copyright}} #" />
  <variable name="line-user"              value="${newline}#  User       : ${pad:padding=-37:fixedLength=true:inner=${windows-identity}} #" />
  <variable name="line-machine"           value="${newline}#  Machine    : ${pad:padding=-37:fixedLength=true:inner=${machinename}} #" />
  <variable name="line-start-date"        value="${newline}#  Started    : ${pad:padding=-37:fixedLength=true:inner=${longdate}} #" />
  <variable name="line-end-date"          value="${newline}#  Ended      : ${pad:padding=-37:fixedLength=true:inner=${longdate}} #" />
  <variable name="line-processtime"       value="${newline}#  Run Time   : ${pad:padding=-37:fixedLength=true:inner=${processtime}} #" />
  <variable name="block-header"           value="${line-seperator}${line-empty}${line-product}${line-copyright}${line-empty}${line-user}${line-machine}${line-start-date}${line-empty}${line-seperator}${newline}"/>
  <variable name="block-footer"           value="${line-seperator}${line-empty}${line-end-date}${line-processtime}${line-empty}${line-seperator}${newline}"/>
  <variable name="block-layout"           value="${pad:padding=6:fixedLength=true:padCharacter=0:inner=${counter}} ${time} : ${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=2}"/>
  <variable name="block-layout-bw"        value="${pad:padding=6:fixedLength=true:padCharacter=0:inner=${counter}} ${time} ${level:uppercase=true:padding=-5} : ${message}"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="ColoredConsole"
        name="ConsoleTarget"
        header="${block-header}"
        layout="${block-layout}"
        footer="${block-footer}"
        useDefaultRowHighlightingRules="false">

      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row backgroundColor="DarkRed" condition="level == LogLevel.Fatal" foregroundColor="Black"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Cyan"/>
      <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-word backgroundColor="DarkGray" foregroundColor="NoChange" ignoreCase="true" regex="#.*#" wholeWords="false" compileRegex="true"/>
      <highlight-word foregroundColor="Magenta" ignoreCase="true" regex="---*" wholeWords="false" compileRegex="true"/>
      <highlight-word foregroundColor="Green" regex="PASSED" wholeWords="true" compileRegex="true"/>
      <highlight-word foregroundColor="Red" regex="FAILED" wholeWords="true" compileRegex="true"/>
      <!--<highlight-word foregroundColor="Magenta" ignoreCase="true" regex=" \| " wholeWords="false" compileRegex="true"/>-->
      <!--<highlight-word foregroundColor="Red" ignoreCase="false" text="UNASSIGNED" wholeWords="false"/>-->
      <!--<highlight-word foregroundColor="Red" ignoreCase="false" text="NONE" wholeWords="false"/>-->
    </target>

    <target xsi:type="File"
        name="FileTarget"
        layout="${block-layout-bw}"
        header="${block-header}"
        footer="${block-footer}"
        fileName="${basedir}/Logs/Farrier.txt"
        archiveFileName="${basedir}/Logs/Farrier.{#}.txt"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyyMMdd"
        archiveOldFileOnStartup="true"
        maxArchiveFiles="100"
        concurrentWrites="false" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleTarget" />
    <logger name="*" minlevel="Debug" writeTo="FileTarget" />
  </rules>
</nlog>
