<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserId" value="your-account" />
		<add key="Pwd" value="update-your-access-token-here" />
		<add key="Organization" value="Organization" />
		<add key="Repository" value="MyRepository" />
		<add key="Days" value="180"/>
		<add key="IgnoreLabel" value="bug"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>